<%- include('header',{
    title:'Login'
}); -%>

<div class="container">
    <h1>Вход</h1>
    <form action="" method="POST">
        <label for="user_email">Email</label>
        <input type="email" class="input" name="_email" id="user_email" placeholder="Enter your email">
        <label for="user_pass">Password</label>
        <input type="password" class="input" name="_password" id="user_pass" placeholder="Enter new password">
        <% if(typeof error !== 'undefined'){ %>
        <div class="err-msg"><%= error %></div><% } %>
        <input type="submit" value="Вход">
        <div class="link"><a href="/accounts/google/login/callback">Войти через Google</a></div>
        <div class="link"><a href="/accounts/github/login/callback/">Войти через GitHub</a></div>
        
        <div class="link">Если нет аккаунта <a href="./signup">Зарегистрируйтесь</a></div>
    </form>
</div>

<%- include('footer'); -%>